body {
  background-color: var(--bg-color);
  padding: 0;
  margin: 0;
}
.contain {
  width: 100vw;
}
.pageFlex {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.leftFlex {
  display: none;
  position: relative;
  padding: 0;
  margin: 0;
}
@media (min-width: 1024px) {
  .leftFlex {
    display: flex;
    width: 70%;
  }
}
.gradientLay {
  position: absolute;
  inset: 0;
  z-index: 10;
  background: linear-gradient(
    to top right,
    rgba(33, 94, 237, 0.2),
    transparent
  );
}
.picLay {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAN7E_o27g12aWgPeTUNBY1UiEiVqqfJSWR9xme_Abo7MOxBGjx5tlBg6Q9mkgW28MgFooN9WHXR614TYvdSPImBOAqOw1Ucu6mVfj2Msx1Nw2JIjhvzNsMtLLY3KG98rDziarZv-gXCKH6EomJvTP9KUwhXxV8LePgMwNQ05tRG7awsmQnEfIjAAjp2rHFLI8FOJ2qjAFJOQbvPNnW8y89HW4_v6C_C7qZSgaspspKlm5u1f4N41K2xbtEnAYc07GJfDAbySoBhbkc");
}
.infoFlex {
  position: absolute;
  inset: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem;
  color: var(--box-text);
}
.logoFlex {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.iconCover {
  background-color: rgba(256, 256, 256, 0.1);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(256, 256, 256, 0.2);
  padding: 0.6125rem;
  border-radius: 0.75rem;
}
.icon {
  font-family: "Material Symbols Outlined", sans-serif;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
  color: var(--box-text);
  font-size: 1.875rem;
}
.name {
  font-size: 1.875rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--box-text);
  letter-spacing: -0.025em;
}
.textOnPic {
  max-width: 36rem;
}
.textHead {
  font-size: 3.75rem;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  line-height: 1.1;
}
.textPara {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.625;
  opacity: 0.9;
}
.footFlex {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.025em;
  opacity: 0.6;
}
.points {
  height: 0.25rem;
  width: 0.25rem;
  background-color: white;
  border-radius: 9999px;
}
.rightFlex {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 0;
  padding-bottom: 0;
}
@media (min-width: 786px) {
  .rightFlex {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
@media (min-width: 1024px) {
  .rightFlex {
    padding-right: 4rem;
    padding-left: 4rem;
    width: 50%;
  }
}
@media (min-width: 1280px) {
  .rightFlex {
    padding-right: 8rem;
    padding-left: 8rem;
  }
}
.fullForm {
  width: 100%;
  max-width: 560px;
}
.call {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
}
.whereFlex {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 0.2rem;
  margin-top: 2rem;
  margin-right: 0;
  margin-left: 0;
}
@media (min-width: 1024px) {
  .whereFlex {
    display: none;
  }
}
@media (min-width: 1200px) {
  .whereFlex {
    display: flex;
  }
}
.iconRight {
  font-family: "Material Symbols Outlined", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
  color: var(--primary-color);
  font-size: 1.875rem;
  display: block;
}
.med {
  color: var(--text-color);
  font-weight: bold;
  letter-spacing: -0.025em;
}
.callHead {
  color: var(--text-color);
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  margin-bottom: 1rem;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}
.callPara {
  color: var(--para-color);
}
.form {
  > * + * {
    margin-top: 1rem;
  }
}
.radio {
  > * + * {
    margin-top: 0.5rem;
  }
}
.formLabel {
  color: var(--text-color);
  font-weight: bold;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.radioGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 0.25rem;
  background-color: var(--bg-color);
  border-radius: 0.75rem;
  border: 1px solid var(--border-color);
}
.roleSelect {
  display: none;
}
.selectFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid transparent;
  color: var(--para-color);
  background-color: transparent;
}
.roleSelect:checked + .selectFlex {
  background-color: var(--primary-color);
  color: var(--box-text);
  box-shadow: 1px 1px 2px var(--primary-color);
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.selectIcon {
  font-family: "Material Symbols Outlined", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
  display: inline-block;
  font-size: 20px;
}
.emPass {
  > * + * {
    margin-top: 0.6rem;
  }
}
.emPassInput {
  display: block;
  width: 92%;
  background-color: var(--bg-color);
  height: 3.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  color: var(--text-color);
  font-size: 1.125rem;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  color: var(--para-color);
}
.emPassInput:focus {
  outline: 2px solid transparent;
  box-shadow: 0 0 0 2px var(--primary-color);
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.emPassInput::placeholder {
  color: var(--para-color);
}
.passFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.forgot {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 0.875rem;
  text-decoration: none;
}
.forgot:hover {
  text-decoration: underline;
}
.passEyeContain {
  position: relative;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.not {
  color: var(--primary-color);
  font-size: 0.9rem;
}
.continueButt {
  width: 100%;
  background-color: var(--primary-color);
  color: var(--box-text);
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.75rem;
  font-size: 1.125rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  border: none;
  cursor: pointer;
  box-shadow: 0px 1px 6px var(--primary-color);
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.load {
  width: 100%;
  background-color: var(--bg-special);
  color: var(--para-color);
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.75rem;
  font-size: 1.125rem;
  box-shadow: 1px 1px 2px rgba(248, 250, 252, 0.2);
  margin-top: 0.5rem;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  border: none;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
}
.continueButt:disabled {
  width: 100%;
  background-color: var(--bg-special);
  color: var(--para-color);
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.75rem;
  font-size: 1.125rem;
  box-shadow: 1px 1px 2px var(--bg-special);
  margin-top: 0.5rem;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  border: 1px solid var(--border-color);
  cursor: default;
}
.continueButt:disabled:hover {
  background-color: var(--bg-special);
}
.continueButt:hover {
  background-color: rgb(32, 88, 218);
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.continueButt:active {
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(0.98);
}
.signOn {
  position: relative;
  margin-bottom: 2.5rem;
  margin-top: 2rem;
  margin-left: 0;
  margin-right: 0;
}
.signOnFlex {
  display: flex;
  position: absolute;
  align-items: center;
  inset: 0;
}
.liner {
  width: 100%;
  border-top: 1px solid var(--para-color);
}
.otherFlex {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 0.875rem;
}
.signLine {
  background-color: var(--bg-color);
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 0;
  padding-top: 0;
  color: var(--para-color);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.75rem;
}
.googleGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
.googleButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.75rem;
  box-shadow: 0 1px 2px 0 rgba(33, 94, 237, 0.2);
}
.googleSpan {
  font-size: 1.02rem;
  font-weight: 600;
}
.googleButton:hover {
  box-shadow:
    1px,
    1px,
    1px,
    3px rgba(33, 94, 237, 0.2);
  border: 1.5px solid rgb(32, 88, 218);
  color: var(--primary-color);
  cursor: pointer;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.svgCl {
  width: 1.25rem;
  height: 1.25rem;
}
.new {
  margin-top: 0.5rem;
  text-align: center;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  font-size: 0.5rem;
}
.newPara {
  color: var(--text-color);
  font-weight: 500;
  font-size: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.newLink {
  color: var(--primary-color);
  font-weight: bold;
  margin-left: 0.25rem;
  font-size: 0.8rem;
  margin-top: 0;
  text-decoration: none;
}
.newLink:hover {
  text-decoration: underline;
}
