@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
:root {
  --bg-color: #ffffff;
  --text-color: #111318;
  --primary-color: rgb(33,94,237);
  --box-text:#ffffff;
  --border-color:rgb(229,231,235);
  --para-color:#616d89;
  --bg-special:#f8fafc;
}

[data-theme="dark"] {
  --bg-color: #111318;
  --text-color: #ffffff;
  --primary-color: rgb(33,94,237);
  --box-text:#ffffff;
  --border-color:rgb(55,65,81);
  --para-color:#9CA3AF;
  --bg-special:#0f172a;
}
