@font-face {
  font-family: 'LINE Seed Sans';
  src: url('/fonts/LINESeedSans_W_Th.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'LINE Seed Sans';
  src: url('/fonts/LINESeedSans_W_Rg.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'LINE Seed Sans';
  src: url('/fonts/LINESeedSans_W_Bd.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'LINE Seed Sans';
  src: url('/fonts/LINESeedSans_W_Xbd.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'LINE Seed Sans';
  src: url('/fonts/LINESeedSans_W_He.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
* {
    font-family: 'LINE Seed Sans',sans-serif;
}
.headForgotPasswordFlex {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem;
}
.logoFlexForgotPassword {
    display:flex;
    gap:0.7rem;
}
.othersFlexForgotPassword {
    display:flex;
    gap:0.7rem;
}
.pageFlexForgotPassword {
    display:flex;
    justify-content: center;
}
.insiderForgotPassword {
    flex:0.6;
    display:flex;
    justify-content: center;
}
.rightFlexForgotPassword {
    display:flex;
    flex-direction: column;
    flex:1
}
.praiseFlexForgotPassword {
    display:flex;
    gap:0.7rem;
}
.timeFlexForgotPassword {
    display:flex;
    gap:0.7rem;
}
.formForgotPassword {
    flex:1;
}
.labelForgotPassword {
    display:block;
}
.submitFlexForgotPassword {
    display:flex;
    gap:0.7rem;
}
.backSignFlexForgotPassword {
    display:flex;
    gap:1rem;
}
.footFlexForgotPassword {
    display:flex;
    justify-content: space-between;
}
.lastFlexForgotPassword {
    display:flex;
    gap:0.7rem;
}